html {
  background-color:#dbdbdb;

  }

div {
  height:120px;
  box-sizing: border-box;
  margin:0;
  font-family: 'helvetica', 'sans-serif';
  font-weight:200;

}
.smallbox {
  background-color:#6495ed;
  width:90px;
  height:90px;
  margin:15px 25px;
  display:inline-block;
}
.top {background-color:#ccc;}
.content {background-color:white;height:250px;padding:35px 50px;line-height:1.4;font-size:18px;}

.blue {
  background-color: #6495ed;

}

.green {
  background-color:#00ff7f
}

.other {
  background-color:#7fbf7f;
}

.yellow {
  background-color: #fffacd;

}
